.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 28px;
    padding: 30px;
}

.heading {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #262626;
    flex: 1 0 100%;
    margin-bottom: 40px;
}

.list {
    display: flex;
    justify-content: flex-start;
    gap: 20px 28px;
    flex-wrap: wrap;
    width: calc(2 * 578px + 28px)
}

@media screen and (max-width: 1250px) {
    .list {
        justify-content: center;
    }
}